/* build time:Sun Aug 25 2024 20:14:42 GMT+0800 (中国标准时间)*/
.highlight{margin:0 0 $margin-m-2 0}.highlight .line{width:$margin-l-2}td.gutter{width:$margin-m-2;position:-webkit-sticky;position:sticky;left:0}td.gutter pre{overflow-x:visible}td span{line-height:$margin-s-2}pre{margin:0;overflow-x:auto}
/* rebuild by neat */